<div class="modal-content p-3">
  <div *ngIf="servicioCopy" class="mb-3">
    <label class="mb-2">patente:</label>
    <input
      type="text"
      [(ngModel)]="servicioCopy.data.patente"
      class="form-control mb-2"
    />

    <label class="mb-2">Fecha:</label>
    <input
      [(ngModel)]="servicioCopy.data.fecha"
      type="date"
      class="form-control mb-2"
    />

    <label class="mb-2">detalle:</label>
    <input
      type="text"
      [(ngModel)]="servicioCopy.data.detalle"
      class="form-control mb-2"
    />

    <label class="mb-2">taller mecanico:</label>
    <input
      type="text"
      [(ngModel)]="servicioCopy.data.tallerMecanico"
      class="form-control mb-2"
    />

    <label class="mb-2">precio:</label>
    <input
      type="number"
      [(ngModel)]="servicioCopy.data.precio"
      (ngModelChange)="checkValue('precio')"
      class="form-control mb-2"
    />
  </div>

  <button type="button" class="btn btn-success mb-2" (click)="confirmar()">
    Confirmar Modificación
  </button>
  <button type="button" class="btn btn-danger" (click)="cancelar()">
    Cancelar
  </button>
</div>
