<div class="modal-content p-3">
  <div *ngIf="autoCopy" class="mb-3">
    <label class="mb-2">patente:</label>
    <input
      type="text"
      [(ngModel)]="autoCopy.data.patente"
      class="form-control mb-2"
    />

    <label class="mb-2">titular:</label>
    <input
      type="text"
      [(ngModel)]="autoCopy.data.titular"
      class="form-control mb-2"
    />

    <label class="mb-2">aseguradora:</label>
    <input
      type="text"
      [(ngModel)]="autoCopy.data.aseguradora"
      class="form-control mb-2"
    />

    <label class="mb-2">kilometraje:</label>
    <input
      type="number"
      [(ngModel)]="autoCopy.data.kilometraje"
      (ngModelChange)="checkValue('kilometraje')"
      class="form-control mb-2"
    />

    <label class="mb-2">multas:</label>
    <input
      type="number"
      [(ngModel)]="autoCopy.data.multas"
      (ngModelChange)="checkValue('multas')"
      class="form-control mb-2"
    />

    <input
      class="form-check-input"
      type="checkbox"
      id="alquilado"
      [(ngModel)]="autoCopy.data.alquilado"
    />
    <label class="mb-2" for="alquilado">Alquilado</label>

    <br />

    <label class="mb-2">chofer:</label>
    <input
      type="text"
      [(ngModel)]="autoCopy.data.chofer"
      class="form-control mb-2"
    />
  </div>

  <button type="button" class="btn btn-success mb-2" (click)="confirmar()">
    Confirmar Modificación
  </button>
  <button type="button" class="btn btn-danger" (click)="cancelar()">
    Cancelar
  </button>
</div>
