<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card rounded-6 text-black">
      <div class="card-body p-md-5 mx-md-4">
        <h4 class="text-center mb-1 pb-1">Cargar alquiler</h4>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="m-3">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="patente"
                class="form-control"
                formControlName="patente"
              />
              <label mdbLabel class="form-label" for="patente">Patente</label>
            </mdb-form-control>
            <div *ngIf="form.controls['patente'].errors != null">
              <small
                class="invalid"
                *ngIf="
                  form.controls['patente'].errors!['required'] &&
                  form.controls['patente'].touched
                "
                >Debe ingresar la patente.</small
              >
            </div>
          </div>

          <div class="m-3">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="chofer"
                class="form-control"
                formControlName="chofer"
              />
              <label mdbLabel class="form-label" for="chofer">Chofer</label>
            </mdb-form-control>
            <div *ngIf="form.controls['chofer'].errors != null">
              <small
                class="invalid"
                *ngIf="
                  form.controls['chofer'].errors!['required'] &&
                  form.controls['chofer'].touched
                "
                >Debe ingresar el chofer.</small
              >
            </div>
          </div>

          <div class="m-3">
            <mdb-form-control>
              <input
                mdbInput
                type="date"
                id="fechaInicio"
                class="form-control"
                formControlName="fechaInicio"
              />
              <label mdbLabel class="form-label" for="fechaInicio"
                >Fecha Inicio</label
              >
            </mdb-form-control>
            <div *ngIf="form.controls['fechaInicio'].errors != null">
              <small
                class="invalid"
                *ngIf="
                  form.controls['fechaInicio'].errors!['required'] &&
                  form.controls['fechaInicio'].touched
                "
                >Debe seleccionar una fechaInicio.</small
              >
            </div>
          </div>

          <div class="m-3">
            <mdb-form-control>
              <input
                mdbInput
                type="date"
                id="fechaFin"
                class="form-control"
                formControlName="fechaFin"
              />
              <label mdbLabel class="form-label" for="fechaFin"
                >Fecha Fin</label
              >
            </mdb-form-control>
            <div *ngIf="form.controls['fechaFin'].errors != null">
              <small
                class="invalid"
                *ngIf="
                  form.controls['fechaFin'].errors!['required'] &&
                  form.controls['fechaFin'].touched
                "
                >Debe seleccionar una fecha Fin.</small
              >
            </div>
          </div>

          <div class="m-3">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="detalle"
                class="form-control"
                formControlName="detalle"
              />
              <label mdbLabel class="form-label" for="detalle">Detalle</label>
            </mdb-form-control>
            <div *ngIf="form.controls['detalle'].errors != null">
              <small
                class="invalid"
                *ngIf="
                  form.controls['detalle'].errors!['required'] &&
                  form.controls['detalle'].touched
                "
                >Debe ingresar el detalle.</small
              >
            </div>
          </div>

          <div class="m-3">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="precioDiario"
                class="form-control"
                formControlName="precioDiario"
                (blur)="calculateTotalPrice()"
              />
              <label mdbLabel class="form-label" for="precio"
                >precio Diario</label
              >
            </mdb-form-control>
            <div *ngIf="form.controls['precioDiario'].errors != null">
              <small
                class="invalid"
                *ngIf="
                  form.controls['precioDiario'].errors!['required'] &&
                  form.controls['precioDiario'].touched
                "
                >Debe ingresar un precioDiario.</small
              >
            </div>
          </div>

          <div class="m-3">
            <mdb-form-control>
              <input
                mdbInput
                type="number"
                id="precioTotal"
                class="form-control"
                formControlName="precioTotal"
                readonly
              />
              <label mdbLabel class="form-label" for="precioTotal">Precio Total</label>
            </mdb-form-control>
          </div>
          

          <div class="text-center pt-1 mb-1 pb-1">
            <button
              class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
              type="submit"
            >
              cargar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
